<% provide(:title, 'Contact') %>
<%= render 'shared/main' do %>
  <%= render 'shared/main_heading' do %>
    Contact
  <% end %>
  <p class="mt-10 text-lg">
    Contact the Ruby on Rails Tutorial about the sample app at the
    <a href="https://www.railstutorial.org/contact">contact page</a>.
  </p>
<% end %>
