<% provide(:title, "Help") %>

<%= render 'layouts/main' do %>
  <%= render 'layouts/main_heading' do %>
    Help
  <% end %>
  <p class="text-lg mt-10 max-w-prose">
    Get help on the Ruby on Rails Tutorial at the
    <a href="https://www.railstutorial.org/help" class="underline">Rails Tutorial Help page</a>.
    To get help on this sample app, see the
    <a href="https://www.railstutorial.org/book" class="underline"><em>Ruby on Rails Tutorial</em>
      book</a>.
  </p>
<% end %>
