<div class="relative bg-white dark:bg-gray-900 overflow-hidden">
  <div class="max-w-7xl mx-auto">
    <div class="relative z-10 pb-8 bg-white dark:bg-gray-900 sm:pb-16 md:pb-20 lg:max-w-2xl lg:w-full lg:pb-28 xl:pb-32">
      <svg class="hidden lg:block absolute right-0 inset-y-0 h-full w-48 text-white dark:text-gray-900 transform translate-x-1/2" fill="currentColor" viewBox="0 0 100 100" preserveAspectRatio="none" aria-hidden="true">
        <polygon points="50,0 100,0 50,100 0,100"/>
      </svg>

      <main class="pt-10 mx-auto max-w-7xl px-4 sm:pt-12 sm:px-6 md:pt-16 lg:pt-20 lg:px-8 xl:pt-28">
        <div class="sm:text-center lg:text-left">
          <h1 class="text-4xl tracking-tight font-extrabold text-gray-900 dark:text-gray-100 sm:text-5xl md:text-6xl max-w-lg sm:mx-auto lg:mx-0">
            <span class="block xl:inline">Make your </span>
            <span class="block text-indigo-600 xl:inline">memories last</span>
          </h1>


          <p class="mt-3 text-base text-gray-500 sm:mt-5 sm:text-lg sm:max-w-xl sm:mx-auto md:mt-5 md:text-xl lg:mx-0">
            Recap is a new kind of online journal that helps you capture your most meaningful
            experiences every year.
          </p>

          <div class="mt-5 sm:mt-8 sm:flex sm:justify-center lg:justify-start items-center">
            <%= link_to "Sign up", signup_path, class: "btn btn-primary btn-lg" %>
            <div class="mt-2 sm:mt-0 sm:ml-5 text-base">
              or
              <%= link_to "learn more", "#", class: "font-bold underline text-indigo-500" %>
            </div>
          </div>
        </div>
      </main>
    </div>
  </div>

  <div class="lg:absolute lg:inset-y-0 lg:right-0 lg:w-1/2">
    <img class="h-56 w-full object-cover sm:h-72 md:h-96 lg:w-full lg:h-full" src="<%= image_url 'thought-catalog-505eectW54k-unsplash.jpg' %>" alt="">
  </div>
</div>
