<li id="recommendation-<%= recommendation.id %>" class="my-10">
  <h3 class="text-xl font-bold"><%= recommendation.title %></h3>
  <div class="mt-2"><%= recommendation.content %></div>
  <div class="mt-2 text-sm opacity-75">
    Created <%= time_ago_in_words(recommendation.created_at) %> ago
  </div>
</li>
