<% provide(:title, 'Edit Recommendation') %>
<%= render 'shared/main' do %>
  <%= render 'shared/main_heading', classes: 'text-center' do %>
    Edit Recommendation
  <% end %>

  <div class="sm:max-w-2xl mt-10 mx-auto">
    <%= render 'form', recommendation: @recommendation %>
  </div>
<% end %>