<% provide(:title, 'Sign up') %>
<%= render 'shared/main' do %>
  <%= render 'shared/main_heading', classes: 'text-center' do %>
    Sign up
  <% end %>

  <div class="sm:max-w-sm mt-10 mx-auto">
      <%= render 'shared/user_form' %>
      <p class="mt-5 text-center">
        Already have an account? <%= link_to "Log in.", login_path, class: "underline" %>
      </p>
  </div>
<% end %>
