<% provide(:title, 'Sign up') %>
<%= render 'layouts/main' do %>
  <%= render 'layouts/main_heading' do %>
    Sign up
  <% end %>
  <p class="text-lg mt-10">This will be a signup page for new users.</p>
<% end %>
