<div data-controller="datalist">
  <%= form.label :destination %>
  <input id="destination" required data-datalist-target="input" data-action="input->datalist#update blur->datalist#validate" class="form-input w-full form-select" type="text" list="list_destination_id" />
  <datalist data-datalist-target="list" id="list_destination_id">
    <% Destination.all.each do |destination| %>
      <option data-value="<%= destination.id %>" value="<%= destination.name %>"></option>
    <% end %>
  </datalist>
  <%= form.hidden_field :destination_id, 'data-datalist-target': "hidden" %>
</div>
