<div data-controller="datalist">
  <%= form.label :destination %>
  <input id="destination" required data-datalist-target="input" data-action="input->datalist#update blur->datalist#validate" class="form-input w-full form-select" type="text" list="list_locale_id" />
  <datalist data-datalist-target="list" id="list_locale_id">
    <% Locale.all.each do |locale| %>
      <option data-value="<%= locale.id %>" value="<%= locale.name %>"></option>
    <% end %>
  </datalist>
  <%= form.hidden_field :locale_id, 'data-datalist-target': "hidden" %>
</div>
