<%= form_with(model: @post, local: true) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>

  <div class="field w-full">
    <%= f.text_area :content, placeholder: "Create a new post...", class: "w-full" %>
  </div>

  <%= f.submit "Post", class: "btn btn-primary mt-5" %>
<% end %>
