<li data-list="destinations" class="relative rounded-2xl w-full h-40 sm:h-56 lg:h-64 overflow-hidden" id="destination-<%= destination.id %>">
  <a href="<%= destination_path destination %>">
    <%= image_tag local_url(destination.image_url), class: "object-cover w-full h-full" %>
    <div class="absolute top-0 left-0 w-full h-full bg-gradient-to-t from-black via-transparent"></div>

    <h2 class="text-l sm:text-xl text-white font-bold absolute bottom-0 left-0 px-4 py-3"><%= destination.name %></h2>
  </a>
</li>
