<footer class="py-4 mt-10 text-gray-500 text-sm">
  <div class="max-w-7xl mx-auto px-2 sm:px-6 lg:px-8">
    <hr class="mb-5" />
    <nav>
      <ul class="flex items-center justify-center">
        <li><%= link_to "About",   about_path,  class: "px-2 hover:underline" %></li>
        <li><%= link_to "Contact", contact_path,  class: "px-2 hover:underline" %></li>
        <li><a href="https://news.railstutorial.org/" class="px-2 hover:underline">News</a></li>
      </ul>
    </nav>

    <small class="block text-center mt-5">
      Based on the <a href="https://www.railstutorial.org/" class="hover:underline">Ruby on Rails Tutorial</a>
      by <a href="https://www.michaelhartl.com/" class="hover:underline">Michael Hartl</a>
    </small>
  </div>
</footer>
