<footer class="py-4 mt-10 text-gray-500 text-sm">
  <div class="max-w-7xl mx-auto px-2 sm:px-6 lg:px-8">
    <hr class="mb-5 dark:border-gray-500" />
    <nav>
      <ul class="flex items-center justify-center">
        <li><%= link_to "About",   about_path,  class: "px-2 hover:underline" %></li>
      </ul>
    </nav>

    <small class="block text-center mt-5">
      Copyright ©<%= Date.today.year %> Eric Cecchi. All rights reserved.
    </small>

    <%#= debug(params) if Rails.env.development? %>
  </div>
</footer>
